.click{
    padding: 1rem 1.5rem;
    text-decoration: none;
    border: none;
    outline: none;
    margin: 1rem 0;
    background:  lighten($primary,10);
    color: #fff;
    position: relative;
    display: inline-block;
    border-radius: .5rem;
    font-weight: 700;
    transition: all .4s;
    cursor: pointer;

    &:hover{
        background: $primary;
    }
}

.page{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 6rem 3rem 1rem;
    max-width: 1300px;

    .heading{
        text-align: center;
        color: crimson;
        font-size: 2.7rem;
        font-family: 'Abhaya Libre', serif;
    }
}