@import url("https://fonts.googleapis.com/css2?family=Niramit:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Niramit", sans-serif;
}

.click {
  padding: 1rem 1.5rem;
  text-decoration: none;
  border: none;
  outline: none;
  margin: 1rem 0;
  background: #ed365b;
  color: #fff;
  position: relative;
  display: inline-block;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: all 0.4s;
  cursor: pointer;
}
.click:hover {
  background: crimson;
}

.banner {
  height: calc(200px + 10vw);
  background: lightgrey;
  display: flex;
  align-items: center;
  position: relative;
}
.banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(70%);
}
.banner h3 {
  font-size: 2.35rem;
  color: crimson;
  margin-left: calc(1rem + 5vw);
  padding: 0.5rem 7rem 0.5rem 1.5rem;
  z-index: 1;
  display: inline-block;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.801), rgba(255, 255, 255, 0.352));
}

.page {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 6rem 3rem 1rem;
  max-width: 1300px;
}
.page .abouttext {
  font-size: 1.1rem;
}
.page .sectionheading {
  color: crimson;
  font-size: 1.5rem;
  padding: 1.3rem 0rem;
}
.page .contactinfo ul {
  padding-top: 1rem;
}
.page .contactinfo ul:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.page .contactinfo ul a {
  color: crimson;
  font-weight: 600;
  text-decoration: none;
}
.page .heading {
  text-align: center;
  color: crimson;
  font-size: 2.7rem;
  font-family: "Abhaya Libre", serif;
}

@media (max-width: 1080px) {
  #hero {
    padding: 6rem 5rem !important;
  }
  #hero h1 {
    font-size: 4.6rem !important;
  }
  #hero h3 {
    font-size: 1.2rem !important;
  }
  #about .aboutflex {
    flex-direction: column;
  }
  #about .aboutflex .aboutimage, #about .aboutflex .abouttext {
    width: 90%;
    max-width: 90%;
  }
}
@media (max-width: 960px) {
  .bars {
    display: block !important;
  }
  .banner h3 {
    font-size: 2rem;
  }
  header nav ul {
    display: none !important;
  }
  header .nav2.active {
    height: auto;
  }
  header .nav2.active > div {
    flex-direction: column;
    padding: 1.5rem 1rem;
    width: 100%;
    gap: 2rem !important;
  }
  header .nav2.active > div ul:nth-child(1) {
    align-self: center;
  }
  header .nav2.active > div ul:nth-child(3) {
    display: flex;
    flex-direction: column !important;
    align-self: flex-start;
    gap: 1.8rem;
    padding-top: 1rem;
  }
  header .nav2.active > div ul:nth-child(2) {
    align-self: center !important;
  }
  .page {
    padding: 6rem 1rem 1rem;
  }
  #hero {
    padding: 6rem 3rem !important;
  }
  #hero h1 {
    font-size: 3.8rem !important;
  }
  #hero h3 {
    font-size: 1.15rem !important;
  }
  #properties .propertygrid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  #contact div {
    flex-direction: column;
  }
  #contact div .control {
    width: 100% !important;
  }
  footer div {
    flex-direction: column;
  }
  footer div p {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .bars {
    top: 4.7rem !important;
  }
  .banner h3 {
    font-size: 1.8rem;
  }
  header nav {
    height: 65px !important;
  }
  .page {
    padding: 6rem 0.5rem 1rem !important;
  }
  .page .heading {
    font-size: 2.2rem;
  }
  #hero {
    padding: 6rem 2rem !important;
  }
  #hero h1 {
    font-size: 3.3rem !important;
  }
  #hero h3 {
    font-size: 0.98rem !important;
  }
  #about .aboutflex .aboutimage {
    height: calc(230px + 30vw) !important;
  }
  #about .aboutflex .abouttext {
    font-size: 0.95rem;
  }
  #properties .propertygrid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  header .nav2 ul:nth-child(2) {
    display: none;
  }
  footer {
    padding: 7rem 2rem !important;
  }
  footer div p {
    font-size: 0.95rem;
  }
}
.bars {
  position: fixed;
  width: 23px;
  display: block;
  height: 20px;
  left: 1.5rem;
  top: 6.2rem;
  z-index: 11;
  display: none;
}
.bars .bar {
  width: 100%;
  height: 3px;
  background: #515151;
  border-radius: 2px;
  position: relative;
}
.bars .bar::before, .bars .bar::after {
  position: absolute;
  width: 85%;
  height: 3px;
  content: "";
  background: #515151;
  top: 8px;
  border-radius: 2px;
}
.bars .bar::after {
  width: 70%;
  top: 17px;
}

header {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  align-items: flex-end;
  height: 85px;
  background: #515151;
}
header nav .logo {
  text-decoration: none;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  align-self: center;
  font-family: "Abhaya Libre", serif;
}
header nav ul {
  display: flex;
  gap: 1.7rem;
}
header nav ul a {
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
}
header nav ul a:hover, header nav ul a.active {
  color: crimson;
}
header .nav2 {
  background: #fff;
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.255);
  position: relative;
}
header .nav2 ul:nth-child(3) {
  display: none;
}
header .nav2 div {
  display: flex;
  gap: 3rem;
}
header .nav2 div ul {
  display: flex;
  gap: 1rem;
}
header .nav2 div ul a {
  color: grey;
  text-decoration: none;
  transition: all 0.4s;
}
header .nav2 div ul a:hover, header .nav2 div ul a.active {
  color: crimson;
}
header .nav2 div ul a i {
  font-size: 1.5rem;
}

main #hero {
  padding: 6rem 7rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../gallery/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center;
}
main #hero h1 {
  font-size: 5.6rem;
  font-weight: 800;
  color: #fff;
  font-family: "Abhaya Libre", serif;
}
main #hero h3 {
  font-size: 1.35rem;
  max-width: 700px;
  color: #f7abba;
  line-height: 130%;
}
main #about .aboutflex {
  display: flex;
  gap: 3rem;
  padding: 3rem 0 0;
  align-items: center;
  justify-content: space-evenly;
}
main #about .aboutflex p {
  max-width: 50%;
  font-size: 1.2rem;
  line-height: 140%;
}
main #about .aboutflex .aboutimage {
  width: 500px;
  height: 450px;
  background: lightgrey;
  border-radius: 35%;
  overflow: hidden;
}
main #about .aboutflex .aboutimage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #services .serviceflex {
  padding: 3rem 0 0;
  display: flex;
  gap: 3rem 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main #services .serviceflex .service {
  width: 250px;
}
main #services .serviceflex .service .serviceimage {
  height: 170px;
  background: lightgrey;
  border-radius: 35%;
  margin: 1rem 0;
}
main #services .serviceflex .service .serviceimage img {
  width: 100%;
  height: 200px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #services .serviceflex .service .servicename {
  text-align: center;
  color: grey;
  font-size: 1.1rem;
}
main #properties .propertygrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: space-between;
  padding: 4rem 0 0;
}
main #properties .propertygrid .property .propertyimage {
  height: 250px;
  background: lightgrey;
}
main #properties .propertygrid .property .propertyimage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #properties .propertygrid .property .propertydetails {
  padding: 1rem 0;
}
main #properties .propertygrid .property .propertydetails .propertyname {
  color: crimson;
  font-size: 1.1rem;
  font-weight: 600;
}
main #properties .propertygrid .property .propertydetails .sale {
  background: rgb(13, 165, 13);
  display: inline-block;
  color: #fff;
  padding: 0 0.7rem;
  border-radius: 0.5rem;
}
main #properties .propertygrid .property .propertydetails .propertyprice {
  color: rgb(56, 56, 56);
  font-size: 0.95rem;
}
main #contact {
  background: linear-gradient(rgba(225, 225, 225, 0.7), rgba(225, 225, 225, 0.7)), url("../gallery/contact.jpg");
  background-size: cover;
  background-position: center;
}
main #contact .form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1100px;
  background: #fff;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.189);
  padding: 3rem 1.5rem;
  border-radius: 0.5rem;
  margin: 3rem 0 1rem;
}
main #contact .form .label {
  text-align: center;
  font-size: 1.6rem;
  color: #515151;
  font-weight: 600;
  font-family: "Abhaya Libre", serif;
  padding: 1rem 0 2rem;
}
main #contact .form .click {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
main #contact .form .control {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.3rem;
  width: 50%;
}
main #contact .form .control label {
  color: grey;
  font-weight: 600;
  padding-bottom: 0.4rem;
}
main #contact .form .control input, main #contact .form .control textarea {
  border: 1px solid lightgrey;
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
  outline: none;
}
main #contact .form .message {
  width: 100%;
  margin-top: 2rem;
}
main #contact .form .message textarea {
  resize: none;
  height: 8rem;
}
main #contact .form div {
  display: flex;
  gap: 2rem;
}

footer {
  background: #222222;
  padding: 7rem 5rem;
  position: relative;
}
footer div {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}
footer div p {
  max-width: 650px;
  align-self: flex-start;
  color: #fff;
  line-height: 140%;
}
footer div p span {
  color: crimson !important;
}
footer div ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}
footer div ul a {
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
}
footer div ul a:hover {
  color: crimson;
}
footer .copy {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  color: #fff;
  width: -moz-max-content;
  width: max-content;
  font-weight: 300;
  font-size: 0.85rem;
}/*# sourceMappingURL=style.css.map */